<!DOCTYPE html>

<html lang="en" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:v="urn:schemas-microsoft-com:vml">
<head>
<title></title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;700;800;900" rel="stylesheet" type="text/css"/>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900" rel="stylesheet" type="text/css"/>
</head>
<body>
	<div class="content" style="padding-top: 50px;">
		<table width="100%" style="max-width: 595px;margin: 0 auto;">
			<tbody>
				<tr class="spaceUnder">
					<td colspan="3" style="text-align: center;padding-bottom: 39px">
						<img class="logo" src="http://api.mariluz.hub2b.travel/media/logo-25.png" alt="logo" style="width: 220px;">
					</td>
				</tr>
				<tr>
					<td style="text-align:center;padding-bottom: 20px">
						<span style="font-size: 30px;font-family: 'Playfair Display';color: #73B499;">
							¡Hola Mariluz!
						</span>
					</td>
				</tr>
				<tr>
					<td style="text-align:center;padding-bottom: 36px;">
						<span style="font-size: 18px;font-family: 'Playfair Display';color: #73B499;">
							Hemos recibido una nueva petición para {{product.title}}!
						</span>
					</td>
				</tr>
				<tr>
					<td style="padding-bottom: 39px">
						<div class="table roboto" style="font-family: 'Roboto';">
							<div style="color: #fff;background-color: #73B499;padding: 8px 20px;">
								<span style="font-weight: bold;color: #fff">Aquí tienes el contenido:</span>
							</div>
							<div style="background-color: #F4F3F2;padding: 15px 20px 24px 20px;">
                            	<div style="padding-bottom: .5rem;">
									<span style="font-weight: bold;color: #73B499">ID Reserva:</span>
									<span style="font-weight: bold;color: #8B8B8B;">{{id}}</span>
								</div>
								<div style="padding-bottom: .5rem;">
									<span style="font-weight: bold;color: #73B499">Nombre:</span>
									<span style="font-weight: bold;color: #8B8B8B;">{{name}}</span>
								</div>
								<div style="padding-bottom: .5rem;">
									<span style="font-weight: bold;color: #73B499">Hotel:</span>
									<span style="font-weight: bold;color: #8B8B8B;">{{product.title}}</span>
								</div>
								<div style="padding-bottom: .5rem;">
									<span style="font-weight: bold;color: #73B499">E-mail:</span>
									<span style="font-weight: bold;color: #8B8B8B;">{{bookingEmail}}</span>
								</div>
								<div>
									<span style="font-weight: bold;color: #73B499">Tel.:</span>
									<span style="font-weight: bold;color: #8B8B8B;">{{phone}}</span>
								</div>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td style="text-align:center;padding-bottom: 77px;">
						<span style="font-size: 18px;font-family: 'Playfair Display';color: #73B499;">
							¡Muchas Gracias!
						</span>
					</td>
				</tr>
            </tbody>
        </table>
    </div>
	<div style="background-color: #73B499;padding-top: 55px;padding-bottom: 58px">
		<div style="max-width: 565px; margin: 0 auto;">
			<table width="100%" cellspacing="0" cellpadding="0" border="0" style="margin: 0 auto;">
				<tbody>
					<tr>
						<td style="text-align:center;padding-bottom: 18px;">
							<img src="https://tbc-40009.r1-it.storage.cloud.it/2024-06-10-10-37-34.png"
								alt="Logo Mariluz Travel" border="0" style="border:0px;text-decoration:none;"
								class="ui-droppable">
						</td>
					</tr>
					<tr>
						<td style="text-align:center;color: #FAF4E8;font-size: 22px;">
							<img src="https://tbc-40009.r1-it.storage.cloud.it/2024-06-10-12-43-12.png" alt="Cerca de ti."
								style="border:0px;text-decoration:none" class="ui-droppable">
						</td>
					</tr>
					<tr>
						<td style="padding-top: 24px;padding-bottom: 18px;">
							<hr>
						</td>
					</tr>
					<tr>
						<td style="text-align:center;color: #FAF4E8;">
							<div style="max-width: 333px;margin: 0 auto;">
								<table width="100%" cellspacing="0" cellpadding="0" border="0">
									<tr>
										<td style="text-align:center;color: #FAF4E8;">
											<img src="https://tbc-40009.r1-it.storage.cloud.it/2024-06-10-12-39-45.png"
												alt="Day Pass" border="0" style="border:0px;text-decoration:none;"
												class="ui-droppable">
										</td>
										<td style="text-align:center;color: #FAF4E8;">
											<img src="https://tbc-40009.r1-it.storage.cloud.it/2024-06-10-12-40-44.png"
												alt="Escapadas" border="0" style="border:0px;text-decoration:none;"
												class="ui-droppable">
										</td>
										<td style="text-align:center;color: #FAF4E8;">
											<img src="https://tbc-40009.r1-it.storage.cloud.it/2024-06-10-12-41-19.png"
												alt="Experiencias" border="0" style="border:0px;text-decoration:none;"
												class="ui-droppable">
										</td>
										<td style="text-align:center;color: #FAF4E8;">
											<img src="https://tbc-40009.r1-it.storage.cloud.it/2024-06-10-12-41-59.png"
												alt="Hoteles" border="0" style="border:0px;text-decoration:none;"
												class="ui-droppable">
										</td>
									</tr>
								</table>
							</div>
						</td>
					</tr>
					<tr>
						<td style="padding-bottom: 24px;padding-top: 18px;">
							<hr>
						</td>
					</tr>
					<tr>
						<td style="border-width:0px;max-width:700px;height:auto;text-align:center;padding-bottom: 26px;">
							<a href="https://www.facebook.com/mariluztravel" style="text-decoration:none;"
								title="Visita nuestra página Facebook"><img
									src="https://tbc-40009.r1-it.storage.cloud.it/2024-06-10-10-35-43.png"
									alt="Facebook Mariluz Travel" border="0"
									style="border:0px;text-decoration:none;padding-right: 24px;" class="ui-droppable"></a>
							<a href="https://www.instagram.com/mariluz.travel" style="text-decoration:none;"
								title="Visita nuestra página Instagram"><img
									src="https://tbc-40009.r1-it.storage.cloud.it/2024-06-10-10-37-06.png"
									alt="Intagram Mariluz Travel" border="0" style="border:0px;text-decoration:none;"
									class="ui-droppable"></a>
						</td>
					</tr>
					<tr>
						<td style="text-align:center;color: #FAF4E8;font-size: 12px">
							<img src="https://tbc-28999.r1-it.storage.cloud.it/2024-06-11-10-46-41.png"
								alt="Copyright & Dirección" style="border:0px;text-decoration:none;padding-right: 24px;width: 100%;"
								class="ui-droppable">
						</td>
					</tr>
					<tr>
						<td style="border-width:0px;max-width:700px;height:auto;text-align:center;"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>