<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{bookingId}}-bono</title>
</head>

<style>

	html,body {
        height: 100%;
        margin: 0;
    }

	tr.spaceUnder>td {
		padding-bottom: 1em;
	}

	.shadow {
		border: 2px solid black;
		box-shadow: rgb(0, 0, 0) 5px 5px;
	}

	.divisor {
		margin-top: 1rem;
		margin-bottom: 1rem;
		border-bottom: 1px solid #73B499;
	}

	.content {
		height: 1254px;
	}

</style>
<body>

<div id="container">
	<div class="content">
		<table width="100%";>
			<tbody>
				<tr class="spaceUnder">
					<td colspan="3" style="text-align: center">
						<img class="logo" src="http://api.mariluz.hub2b.travel/media/logo-25.png" alt="logo" style="width: 250px;">
					</td>
				</tr>
				<tr>
					<td colspan="3">
						<div>
							<h1 style="color:#73B499">Bono estancia</h1>
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="3">
						<div class="divisor"></div>
					</td>
				</tr>
				<tr class="spaceUnder">
					<td colspan="1">
						<div style="margin-bottom:1rem">
							<span style="color:#73B499">Emitido para / Issued For</span>
						</div>
						<div>
							<strong style="color:#8B8B8B">{{productTitle}}</strong>
						</div>
						<div>
							<span style="color:#8B8B8B">{{productAddress}}</span>
						</div>
						<div>
							<span style="color:#8B8B8B">{{productZone}}</span>
						</div>
						<div>
							<span style="color:#8B8B8B">{{productLocation}}</span>
						</div>
						<div>
							<span style="color:#8B8B8B">España</span>
						</div>
					</td>
					<td colspan="1">

					</td>
					<td>
						<div>
							<span style="color:#73B499">Expediente / File</span>
						</div>
						<div style="margin-bottom:.5rem">
							<strong style="color:#8B8B8B">{{bookingId}}</strong>
						</div>
						<div>
							<span style="color:#73B499">Fecha Emisión / Issue Date</span>
						</div>
						<div style="margin-bottom:.5rem">
							<strong style="color:#8B8B8B">{{bookingDate}}</strong>
						</div>
						<div>
							<span style="color:#73B499">Pagadero por / To be Paid By</span>
						</div>
						<div>
							<strong style="color:#8B8B8B">{{to_be_paid_by}}</strong>
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="3">
						<div class="divisor"></div>
					</td>
				</tr>
				{% for room in rooms %}
					<tr>
						<td colspan="2">
							<div style="margin-bottom:.5rem">
								<span style="color:#73B499">Clientes: </span>
								<strong style="color:#8B8B8B">{{room.clientName}}</strong>
							</div>
							<div>
								<span style="color:#73B499">Rogamos presten los siguientes servicios al titular del presente bono:</span>
							</div>
							<div style="margin-bottom:.5rem">
								<strong style="color:#8B8B8B">{{productTitle}}</strong>
							</div>
							<div style="margin-bottom:.5rem">
								<span style="color:#73B499">Régimen:</span>
								<strong style="color:#8B8B8B">{{room.pensionType.code}}</strong>
							</div>
							<div>
								<strong style="color:#73B499">1</strong>
								<span style="color:#8B8B8B">{{room.roomType.name}}</span>
							</div>
						</td>
						<td>
							<div style="margin-bottom:.5rem">
								<span style="color:#73B499">Personas: </span>
								<span style="color:#8B8B8B">{{room.clientTypes.adults.quantity+room.clientTypes.kids.quantity+room.clientTypes.babies.quantity}}</span>
							</div>
							<div style="margin-bottom:.5rem">
								<span style="color:#73B499">Llegada: </span>
								<strong style="color:#8B8B8B">{{checkIn}}</strong>
							</div>
							<div style="margin-bottom:.5rem">
								<span style="color:#73B499">Salida: </span>
								<strong style="color:#8B8B8B">{{checkOut}}</strong>
							</div>
							<div style="margin-bottom:2rem;">
								<span style="color:#73B499">Servicio: </span>
								<strong style="color:#8B8B8B">000{{loop.index}}</strong>
							</div>
						</td>
					</tr>
				{% endfor %}
				<tr>
					<td colspan="3">
						<div style="margin-top:2rem;border-bottom: 1px solid #73B499">
							<span style="color:#73B499">Observaciones / Remarks</span>
						</div>
						<div style="margin-top:1rem">
							<span style="color:#8B8B8B">{{observations|raw}}</span>
						</div>
						<div style="margin-top:1rem; font-style: italic">
							<span style="color:#8B8B8B">Esta reserva puede estar sujeta a tasas locales o municipales que no están incluidas en el precio y pueden variar sin previo aviso, el importe de dichas tasas deberá abonarse directamente en el establecimiento.</span>
						</div>
					</td>
				</tr>
				{# <tr style="margin-top:auto">
					<td style="height:100% !important" colspan="3">
						<div style="position:absolute;bottom:0;left:0;display:flex;justify-content:center">
							<span>
								C/ Jaume III, 27 - Ent 2ª Despacho 18 - 19
							</span>
							<span>
								07012 Palma de Mallorca
							</span>
							<span>
								BALEARES España
							</span>
							<span>
								Tel:
							</span>
							<span>
								971 42 51 10
							</span>
						</div>
					</td>
				</tr> #}
			</tbody>
		</table>
	</div>
</div>
</body>
<div style="width: 100%;text-align: center;font-size:14px;background-color:#73B499;padding:0">
	<div style="width: 100%;">
		<strong style="width: 100%;color:#FAF4E8">
			{{companyName}}
		</strong>
	</div>
	<div>
		<span style="color:#FAF4E8">
			{{companyCif}}
		</span>
	</div>
	<span style="color:#FAF4E8">
		{{companyAddress}}
	</span>
	<span style="color:#FAF4E8">
		{{companyPostalCode}} {{companyCity}}
	</span>
	<span style="color:#FAF4E8">
		{{companyProvince}} {{companyCountry}}
	</span>
	<span style="color:#FAF4E8">
		Tel:
	</span>
	<span style="color:#FAF4E8">
		{{companyPhone}}
	</span>
</div>
</html>