<!DOCTYPE html>

<html lang="en" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:v="urn:schemas-microsoft-com:vml">

<head>
    <title></title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;700;800;900" rel="stylesheet"
        type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900"
        rel="stylesheet" type="text/css" />
</head>

<body style="background-color: #FAF4E8">
    <div class="content" style="padding-top: 50px;font-size: 16px">
        <table width="100%" style="max-width: 595px;margin: 0 auto;">
            <tbody>
                <tr class="spaceUnder">
                    <td colspan="3" style="text-align: center;padding-bottom: 50px">
                        <img class="logo" src="http://api.mariluz.hub2b.travel/media/logo-25.png" alt="logo"
                            style="width: 220px;">
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;padding-bottom: 40px">
                        <img class="logo" src="http://api.mariluz.hub2b.travel/media/oks.png" alt="logo"
                        style="width: 545px;">
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;padding-bottom: 16px">
                        <span style="font-family: 'Playfair Display';font-weight: bold;font-size: 30px;color: #73B499">
                            Hola {{name}},
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;padding-bottom: 63px">
                        <span style="font-family: 'Playfair Display';font-size: 30px;color: #73B499">
                            ésta es la confirmación de la <span style="font-weight: bold;">recepción de tu pago por transferencia</span> (y la confirmación de que dentro de nada vas a disfrutar de tiempo para ti, haciendo lo que te gusta cerca o un-poco-menos-cerca) 
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;padding-bottom: 20px;">
                        <span style="font-family: 'Playfair Display';font-size: 20px;color: #B8965B">
                            Aquí tienes los datos
                        </span>
                        <span
                            style="font-family: 'Playfair Display';font-size: 20px;color: #B8965B;text-decoration: underline;">
                            más importantes de tu reserva:
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="padding-bottom: 33px">
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td style="height:100px;width: 50%">
                                        <div class="table" style="height:100%;width:100%;font-family: 'Roboto'">
                                            <div class="table-header"
                                                style="color: #fff;background-color: #73B499;padding: 8px 20px;">
                                                <span style="font-weight: bold;color:#fff">Datos contacto:</span>
                                            </div>
                                            <div
                                                style="height: 150px;border:1px solid #E5D8BE;padding: 15px 20px 24px 20px;">
                                                <div style="padding-bottom: .5rem;">
                                                    <span style="font-weight: bold;color: #B8965B">Nombre:</span>
                                                    <span style="color: #B8965B;">{{name}}</span>
                                                </div>
                                                <div style="padding-bottom: .5rem;">
                                                    <span style="font-weight: bold;color: #B8965B">Tel:</span>
                                                    <span style="color: #B8965B">{{phone}}</span>
                                                </div>
                                                <div style="padding-bottom: .5rem;">
                                                    <span style="font-weight: bold;color: #B8965B">Email:</span>
                                                    <span style="color: #B8965B">{{bookingEmail}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="height:100px;width: 50%;">
                                        <div class="table" style="height:100%;width:100%;font-family: 'Roboto'">
                                            <div class="table-header"
                                                style="color: #fff;background-color: #73B499;padding: 8px 20px;">
                                                <span style="font-weight: bold;color:#fff">Detalles de la
                                                    reserva:</span>
                                            </div>
                                            <div
                                                style="height: 150px;border:1px solid #E5D8BE;padding: 15px 20px 24px 20px;">
                                                <div style="padding-bottom: .5rem;">
                                                    <span style="font-weight: bold;color: #B8965B">Cód. reserva:</span>
                                                    <span style="color: #B8965B;">{{id}}</span>
                                                </div>
                                                <div style="padding-bottom: .5rem;">
                                                    <span style="font-weight: bold;color: #B8965B">Fecha reserva:</span>
                                                    <span style="color: #B8965B">{{date}}</span>
                                                </div>
                                                <div style="padding-bottom: .5rem;">
                                                    <span style="font-weight: bold;color: #B8965B">Hotel:</span>
                                                    <span style="color: #B8965B">{{product.title}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center">
                        <span
                            style="font-family: 'Playfair Display';font-size: 20px;font-family: 'Playfair Display';color:#B8965B">
                            Tu reserva del {{startDate}} al {{endDate}}:
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;padding-bottom: 20px;">
                        <span
                            style="font-family: 'Playfair Display';font-size: 20px;font-weight: bold;font-family: 'Playfair Display';color:#B8965B">
                            {{product.title}}
                        </span>
                    </td>
                </tr>
                {% for room in rooms %}
                <tr>
                    <td style="padding-bottom: 20px;">
                        <div class="table" style="height:100%;width:100%;font-family: 'Roboto'">
                            <div class="table-header" style="color: #fff;background-color: #73B499;padding: 8px 20px;">
                                <span style="font-weight: bold;color:#fff">Habitación {{loop.index}}:</span>
                            </div>
                            <div style="border:1px solid #E5D8BE;padding: 15px 20px 24px 20px;">
                                <div style="padding-bottom: .5rem;">
                                    <span style="font-weight: bold;color: #B8965B">Tipo de habitación:</span>
                                    <span style="color: #B8965B;">{{room.roomType.name}}</span>
                                </div>
                                <div style="padding-bottom: .5rem;">
                                    <span style="font-weight: bold;color: #B8965B">Adultos</span>
                                    <span style="color: #B8965B;">{{room.clientTypes.adults.quantity}}</span>
                                </div>
                                <div style="padding-bottom: .5rem;">
                                    <span style="font-weight: bold;color: #B8965B">Niños</span>
                                    <span style="color: #B8965B;">{{room.clientTypes.kids.quantity}}</span>
                                </div>
                                <div>
                                    <span style="font-weight: bold;color: #B8965B">Bebés</span>
                                    <span style="color: #B8965B;">{{room.clientTypes.babies.quantity}}</span>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td style="font-family: 'Roboto Condensed';text-align: end">
                        <span style="color: #FF926F;font-size: 14px;">Total:</span>
                    </td>
                </tr>
                <tr>
                    <td style="padding-bottom: 55px;font-family: 'Roboto';font-weight: 900;text-align: end">
                        <span style="color: #FF926F;font-size: 30px;">{{totalPrice}} €</span>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;padding-bottom: 50px">
                        <img class="logo" src="http://api.mariluz.hub2b.travel/media/ice-creams.png" alt="logo"
                        style="width: 545px;">
                    </td>
                </tr>
                <tr>
                    <td style="padding-bottom: 70px;">
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td style="padding-bottom: 14px;font-family: 'Playfair Display';display: block">
                                        <span style="color: #B8965B;font-size: 20px;font-weight: bold;">Algunas cosas importantes:</span>
                                    </td>
                                    <td style="width: 355px">
                                        <span style="font-family: 'Roboto';font-weight: bold;color: #B8965B">Tasas locales:</span>
                                        <br>
                                        <span style="font-family: 'Roboto';color: #B8965B;">A veces, las reservas pueden estar
                                            sujetas a <span style="font-weight: bold">impuestos y/o tasas locales</span> que <span
                                                style="font-weight: bold">no están incluidas en el precio</span> porque no se
                                            gestionan a través de Mariluz.
                                            Estas tasas son obligatorias, pueden variar y tendrás que abonarlas directamente en el
                                            establecimiento.
                                        </span>
                                        <br>
                                        <br>
                                        <span style="font-family: 'Roboto';font-weight: bold;color: #B8965B">Anulación
                                            reserva:</span>
                                        <br>
                                        <span style="font-family: 'Roboto';color: #B8965B;">Nunca, nunca, nunca anularemos tu
                                            reserva sin haber hablado contigo, así que te agradecemos que, en el caso de necesitar
                                            cancelarla, nos lo comuniques lo antes posible. Así, evitarás los <span
                                                style="font-weight: bold">gastos de cancelación</span> asociados y liberarás tus
                                            plazas para que otros puedan disfrutarlas.</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="padding-bottom: 118px;">
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td style="padding-bottom: 14px;font-family: 'Playfair Display';display: block">
                                        <span style="color: #B8965B;font-size: 20px;font-weight: bold;">¡Recuerda llevar protección solar y… llama al
                                            llegar!</span>
                                    </td>
                                    <td style="width: 355px;">
                                        <span style="font-family: 'Roboto';color: #B8965B;">Nos encantará recibir una <span
                                            style="font-weight: bold">nota de voz con tu opinión</span> sobre la estancia, el
                                        hotel, el bufé de desayuno, las almohadas de la cama, las toallas… ¡o lo que quieras
                                        contarnos!</span>
                                        <br>
                                        <br>
                                        <span style="font-family: 'Roboto';color: #B8965B;">Puedes hacerlo al <span
                                            style="text-decoration: underline;font-weight:bold">whatsapp de Mariluz: 633 574
                                            411</span></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="padding-bottom: 21px;">
                        <hr style="width: 240px;border-top: 0;border-left: 0;border-right: 0;border-color: #73B499;margin: 0 auto;">
                    </td>
                </tr>
                <tr>
                    <td style="padding-bottom: 21px;font-family: 'Playfair Display';text-align: center;">
                        <span style="color: #73B499;font-size: 24px;">Gracias por <span
                                style="font-weight: bold">no-viajar</span><br> con nosotros.</span>
                    </td>
                </tr>
                <tr>
                    <td style="padding-bottom: 30px;">
                        <hr
                            style="width: 240px;border-top: 0;border-left: 0;border-right: 0;border-color: #73B499;margin: 0 auto;">
                    </td>
                </tr>
                <tr>
                    <td
                        style="padding-bottom: 86px;font-family: 'Roboto';text-align: center;color: #B8965B;font-size: 16px;">
                        <span>Dpto. Reservas</span><br>
                        <span>Mariluz Travel</span><br>
                        <span>Parc Bit</span><br>
                        <span>Edificio U, Local 11</span><br>
                        <span>07121 Palma de Mallorca</span><br>
                        <span>Tel. 971 42 51 10</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="background-color: #73B499;padding-top: 55px;padding-bottom: 58px">
        <div style="max-width: 565px; margin: 0 auto;">
            <table width="100%" cellspacing="0" cellpadding="0" border="0" style="margin: 0 auto;">
                <tbody>
                    <tr>
                        <td style="text-align:center;padding-bottom: 18px;">
                            <img src="https://tbc-40009.r1-it.storage.cloud.it/2024-06-10-10-37-34.png"
                                alt="Logo Mariluz Travel" border="0" style="border:0px;text-decoration:none;"
                                class="ui-droppable">
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center;color: #FAF4E8;font-size: 22px;">
                            <img src="https://tbc-40009.r1-it.storage.cloud.it/2024-06-10-12-43-12.png"
                                alt="Cerca de ti." style="border:0px;text-decoration:none" class="ui-droppable">
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top: 24px;padding-bottom: 18px;">
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center;color: #FAF4E8;">
                            <div style="max-width: 333px;margin: 0 auto;">
                                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                    <tr>
                                        <td style="text-align:center;color: #FAF4E8;">
                                            <img src="https://tbc-40009.r1-it.storage.cloud.it/2024-06-10-12-39-45.png"
                                                alt="Day Pass" border="0" style="border:0px;text-decoration:none;"
                                                class="ui-droppable">
                                        </td>
                                        <td style="text-align:center;color: #FAF4E8;">
                                            <img src="https://tbc-40009.r1-it.storage.cloud.it/2024-06-10-12-40-44.png"
                                                alt="Escapadas" border="0" style="border:0px;text-decoration:none;"
                                                class="ui-droppable">
                                        </td>
                                        <td style="text-align:center;color: #FAF4E8;">
                                            <img src="https://tbc-40009.r1-it.storage.cloud.it/2024-06-10-12-41-19.png"
                                                alt="Experiencias" border="0" style="border:0px;text-decoration:none;"
                                                class="ui-droppable">
                                        </td>
                                        <td style="text-align:center;color: #FAF4E8;">
                                            <img src="https://tbc-40009.r1-it.storage.cloud.it/2024-06-10-12-41-59.png"
                                                alt="Hoteles" border="0" style="border:0px;text-decoration:none;"
                                                class="ui-droppable">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 24px;padding-top: 18px;">
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td
                            style="border-width:0px;max-width:700px;height:auto;text-align:center;padding-bottom: 26px;">
                            <a href="https://www.facebook.com/mariluztravel" style="text-decoration:none;"
                                title="Visita nuestra página Facebook"><img
                                    src="https://tbc-40009.r1-it.storage.cloud.it/2024-06-10-10-35-43.png"
                                    alt="Facebook Mariluz Travel" border="0"
                                    style="border:0px;text-decoration:none;padding-right: 24px;"
                                    class="ui-droppable"></a>
                            <a href="https://www.instagram.com/mariluz.travel" style="text-decoration:none;"
                                title="Visita nuestra página Instagram"><img
                                    src="https://tbc-40009.r1-it.storage.cloud.it/2024-06-10-10-37-06.png"
                                    alt="Intagram Mariluz Travel" border="0" style="border:0px;text-decoration:none;"
                                    class="ui-droppable"></a>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center;color: #FAF4E8;font-size: 12px">
                            <img src="https://tbc-28999.r1-it.storage.cloud.it/2024-06-11-10-46-41.png"
                                alt="Copyright & Dirección"
                                style="border:0px;text-decoration:none;padding-right: 24px;width: 100%;"
                                class="ui-droppable">
                        </td>
                    </tr>
                    <tr>
                        <td
                            style="padding-bottom: 23px;border-width:0px;max-width:700px;height:auto;text-align:center;color: #FAF4E8;">
                            <span
                                style="font-weight: bold;text-decoration: underline;font-size: 12px;font-family: 'Roboto';">Términos
                                y condiciones</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 16px;">
                            <span style="font-size: 12px;font-family: 'Roboto';color: #FAF4E8">La información que
                                contiene este mensaje y/o sus archivo(s) adjunto(s), enviada desde
                                MARILUZ TRAVEL TOUR SL, es confidencial/privilegiada y está destinada a ser leída sólo
                                por la(s) persona(s) a la(s) que va dirigida: tú y solo tú.</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 16px;">
                            <span style="font-size: 12px;font-family: 'Roboto';color: #FAF4E8">Para facilitar la
                                comunicación contigo, te recordamos que tus datos han sido incorporados en el sistema de
                                tratamiento de MARILUZ TRAVEL TOUR SL y que siempre y cuando se cumplan los requisitos
                                exigidos por la normativa, podrás ejercer tus derechos de acceso, rectificación,
                                limitación de tratamiento, supresión, portabilidad y oposición/revocación, en los
                                términos que establece la normativa vigente en materia de protección de datos,
                                dirigiendo tu petición a la dirección postal Parc Bit Edificio U, Local 11 07121, PALMA
                                DE MALLORCA (ILLES BALEARS) o bien a través de nuestro correo electrónico
                                reservas@mariluztravel.es </span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 16px;">
                            <span style="font-size: 12px;font-family: 'Roboto';color: #FAF4E8">La experiencia de 15 años
                                creando y vendiendo escapadas nos dice que, igual que te has interesado ya por alguna de
                                nuestras ofertas, pueden interesarte otras, así que siempre que tengamos algo que pueda
                                encajarte (escapadas, promociones, ofertas, day pass…), te lo enviaremos.</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-size: 12px;font-family: 'Roboto';color: #FAF4E8">Si has recibido este
                                mensaje y no eres su destinatario, un empleado o un agente responsable de reenviarlo,
                                sin duda lo has recibido por error, así que divulgarlo, distribuirlo o reproducirlo es
                                ilegal. Avísanos devolviendo el mensaje al correo de envío y nosotros lo
                                solucionaremos.</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>